* {
  font-family: Open Sans;
}

/* tr {
  display: flex;
  align-items: center;
}
.activity_title {
  color: #2962ff;
}
.register {
  font-size: 1.6rem;
  font-weight: bolder;
  max-height: 9vh;
}
.role {
  display: flex;
  align-items: left;
  margin: 0.1rem;
  padding: 0.1rem;
  background: white;
  z-index: 1000;
} */
