table{
   /* width: 60vw; */

}
th{
  width:14rem;
  font-weight: bolder;
}
td{

    width:14rem;
    padding: 2% 1% 3% 0%;
}
tr{
    display:flex;
    align-items: center;
}
.activity_title{
  color: #2962FF;
}
.register{
    font-size: 1.6rem;
    font-weight: bolder;
    max-height: 9vh;
}
.role{
    display:flex;
    align-items:left;
    margin:.1rem;
    padding:.1rem;
    background: white;
    z-index: 1000;
    
}